@import '_variables';

.cells {
  overflow: hidden;
  .cell {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: $glow-1;
    margin-top: 8px;
  }
  ul {
    margin: 0
  }
}