@import '_variables';

.cells {
  overflow: hidden;
  .cell {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0 $gutter;
    min-height: 30px + 2 * $gutter;
  }
  ul {
    margin: 0
  }
}
