@require '_variables'

.cells
  color: $white
  overflow: hidden
  .cell
    align-items(center)
    display(flex)
    flex-direction(row)
    background-color: $dark-gray
    padding: 0 gutter
    min-height: 30px + 2 * gutter
    &:nth-child(even)
      background-color: $darker-gray
  ul
    margin: 0
