$app-container-shadow-bottom: inset 0 $app-container-shadow-height * -1 0 rgba(0,0,0,0.2);
$app-container-gutter-right: inset -2px 0 0 $neutral-2;

.app-container, .app-container-sidebar {
  box-shadow: $app-container-shadow-bottom;
}

.app-container {
  box-sizing: content-box;
  display: block;
  height: 100%;
  width: $app-container-size;
  margin: 0;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
  box-shadow: $app-container-gutter-right, $app-container-shadow-bottom;

  &.flex {
    flex: 1;
  }

  &.undesired {
    background-color: transparent;
    outline: 3px solid $gray-11;
    box-shadow: $app-container-shadow-bottom;
    z-index: 2;
  }

  &.highlight {
    outline: 3px solid $gray-11;
    z-index: 2;
    box-shadow: $app-container-shadow-bottom;
    transform: scale(1.25);
  }
}

.claimed {
  animation: fade-in 1s linear infinite alternate;
}

.selection .app-container {
  opacity: .2;

  &.selected, &.hover {
    opacity: 1;
  }
}
