@import '_variables';
@import '_mixins';

$app-container-shadow-bottom: inset 0 -4px 0 rgba(0,0,0,0.2);
$app-container-gutter-right: inset -2px 0 0 $neutral-2;

.app-container, .app-container-sidebar {
  box-shadow: $app-container-shadow-bottom;
}

.app-container {
  box-sizing: content-box;
  display: block;
  height: $container-size;
  margin: 0;
  min-width: 1px;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
  box-shadow: $app-container-gutter-right, $app-container-shadow-bottom;

  &.flex {
    flex: 1;
  }

  &.undesired {
    background-color: transparent;
    outline: 3px solid $gray-11;
    box-shadow: $app-container-shadow-bottom;
    z-index: 2;
  }
}

.claimed {
  animation: fade-in 1s linear infinite alternate;
}

.selection .app-container {
  opacity: .2;
}

%hover-thing {
  opacity: 1;
}

@for $i from 0 through 2000 {
  .show-app-#{$i} .app-#{$i} {
    @extend %hover-thing;
  }
}