.container
  box-sizing(border-box)
  display: block
  height: 30px
  margin: gutter 1px
  width: 2%
  &.flex
    flex(1)
  &.undesired
    background-color: transparent
    position: relative
    &:before
      @extend $zero
      @extend $full
      content: ''
      border: 3px solid $white
  &.claimed
    animation(fade-in 1s linear infinite alternate)
  .selected &
    opacity(0.3)
    &.hover
      opacity(1)
      position: relative
      &:before
        @extend $full
        @extend $zero
        content: ''
        box-shadow: inset 0 0 50px $white, 0 0 4px $white
