@require '_variables'
@require '_mixins'

.container
  box-sizing(border-box)
  display: block
  height: container-size
  margin: gutter 1px
  width: 2%
  &.flex
    flex(1)
  &.undesired
    background-color: transparent
    position: relative
    .mask
      @extend $zero
      @extend $full
      border: 3px solid $white
  &.claimed
    animation(fade-in 1s linear infinite alternate)
  .selection &
    @extend $selected
  &.highlight
    outline: 4px solid $white
    z-index: 2