@import '_variables';
@import '../../vendor/pui-v1.4.0/pui-variables';

$footer-height: 35px;
.footer {
  display: flex;
  align-items: center;
  height: $footer-height;
  background-color: $footer-color;

  .radio-group {
    flex: 1;
    text-align: center;
    .undo, label {
      color: $gray-11;
    }
    input[type="radio"] {
      margin-right: 10px;
    }
  }
}