@-ms-viewport{
  width: device-width;
}

html, body, #root, .xray {
  min-height: 100%;
  @include full-height;
}

body {
  color: $neutral-11;
  background-color: $isometric-bg;
}

// fancy full width layout
@media(min-width: $screen-sm-min) {
  .page {
    @include full;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .main-content {
    flex: 1;
    display: flex;
    @include full;
  }
}

.main-panel {
  flex: 1;
  display: flex;
  margin-right: 0;
  flex-direction: column;
}

.sidebar-panel {
  position: relative;
  background-color: $shadow-2;

  @media(min-width: $screen-md-min){
    width: $sidebar-width;
  }
}

.main-header, .main-footer {
  background-color: $dark-1;
}

.left-header {
  padding: 15px;
}

.main-header {

  .logo {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  canvas {
    vertical-align: top;
  }

  h1 {
    margin: 0;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
  }

  .receptor-url {
    cursor: pointer;
    width: 175px;
    background-color: $shadow-2;

    @media(min-width: $screen-md-min) {
      width: $sidebar-width;
    }

    label {
      cursor: pointer;
      display: block;

      .active-label, .inactive-label, input {
        padding: 0 $desired-lrp-gutter;
      }
    }

    label .active-label {
      color: $link-color;
      display: none;
    }

    label .inactive-label {
      text-transform: uppercase;
    }

    &:hover label {
      .active-label {
        display: block;
      }
      .inactive-label {
        display: none;
      }
    }

    input {
      height: auto;
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}

.main-footer {
  padding: 15px;

  &, .list-inline a {
    color: $gray-4;
  }

  canvas {
    display: block;
  }

  p, .list-inline {
    margin: 0;
    line-height: 1;
  }

  .list-inline {
    margin-left: 10px;

    > li {
      & + li:before {
        content: '·';
        margin-right: 10px;
      }
    }
  }
}

.main-panel {
  transition: margin-right $sidebar-animation-duration ease-in;
  .sidebar-collapsed & {
    margin-right: $sidebar-collapsed-width - $sidebar-width;
  }
}

@media(min-width: $screen-md-min) {
  .sidebar-panel {
    transform: translate3d(0, 0, 0);
    transition: transform $sidebar-animation-duration ease-in;
    .sidebar-toggle .fa-angle-double-right {
      transform: rotateZ(0deg);
      transition: transform $sidebar-animation-duration linear;
    }
    .media-body, .sidebar-header {
      opacity: 1;
      transition: opacity $sidebar-animation-duration linear;
    }
    .sidebar-collapsed & {
      transform: translate3d($sidebar-width - $sidebar-collapsed-width, 0, 0);
      .media-body {
        display: none;
      }
      .sidebar-toggle .fa-angle-double-right {
        transform: rotateZ(180deg);
      }
    }
  }
}



.footer {
  background-color: $shadow-2;

  @media(min-width: $screen-md-min) {
    align-items: center;
    display: flex;
    height: $footer-height;
    .radio-group {
      flex: 1;
    }
  }
}