@import '../../vendor/pui-v1.4.0/pui-variables';
@import '_mixins';
@import '_variables';

html, body, #root, .xray {
  min-height: 100%;
  @extend %full-height;
}

body {
  color: $neutral-11;
}

#root {
  background-color: $neutral-1;
}

.page {
  @extend %full;
  overflow: hidden;
  position: relative;
  .main-panel, .sidebar-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
  }
  .main-panel {
    display: flex;
    left: 0;
    right: $sidebar-width;
    flex-direction: column;
  }
  .sidebar-panel {
    position: absolute;
    right: 0;
    width: $sidebar-width;
    background-color: $shadow-1;
  }
}

.main-panel {
  transition: right $sidebar-animation-duration ease-in;
  .sidebar-collapsed & {
    right: $sidebar-collapsed-width;
  }
}

.sidebar-panel {
  transform: translate3d(0, 0, 0);
  transition: transform $sidebar-animation-duration ease-in;
  .sidebar-toggle .fa-angle-double-right {
    transform: rotateZ(0deg);
    transition: transform $sidebar-animation-duration linear;
  }
  .media-body, .sidebar-header {
    opacity: 1;
    transition: opacity $sidebar-animation-duration linear;
  }
  .sidebar-collapsed & {
    transform: translate3d($sidebar-width - $sidebar-collapsed-width, 0, 0);
    .media-body {
      display: none;
    }
    .sidebar-toggle .fa-angle-double-right {
      transform: rotateZ(180deg);
    }
  }
}

.footer {
  align-items: center;
  background-color: $shadow-1;
  display: flex;
  height: $footer-height;

  .radio-group {
    flex: 1;
  }
}