@import '../../vendor/pui-v1.4.0/pui-variables';
@import '_mixins';
@import '_variables';

@-ms-viewport{
  width: device-width;
}

html, body, #root, .xray {
  min-height: 100%;
  @extend %full-height;
}

body {
  color: $neutral-11;
}

#root {
  background-color: #162229;
}

.page {
  @extend %full;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  @extend %full;
}

.main-panel {
  flex: 1;
  display: flex;
  margin-right: 0;
  flex-direction: column;
}

.sidebar-panel {
  position: relative;
  width: $sidebar-width;
  background-color: $shadow-3;
  border-left: 1px solid rgba(255,255,255,.1);
}

.main-header, .main-footer {
  background-color: $dark-1;
}

.memory-container-toggle {
  input {
    display: none;
  }
  .radio {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-right: 10px;
  }
  input[type='radio']:checked {
    position: relative;
    display: none;
    padding: 0 10px;
  }
  input[type='radio']:checked + span {
    &:after {
      content: '';
      display: block;
      left: 0;
      bottom: -1px;
      height: 1px;
      background-color: $brand-3;
      width: 100%;
      position: absolute;
    }
  }
}

.main-header {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0 0 0 15px;
  border-bottom: 1px solid rgba(255,255,255,.1);
  h1, canvas {
    display: inline-block;
    vertical-align: middle;
  }

  canvas {
    margin-right: 10px;
  }

  h1 {
    margin: 0;
    font-size: 21px;
    line-height: 1;
  }

  .logo-type {
    align-self: center;
    font-size: 21px;
    font-weight: 400;
  }

  .logo-mark {
    align-self: center;
    margin-right: 10px;
  }

  .logo {
    flex: 1;
    display: flex;
    align-content: center;
  }

  .receptor-change {
    .label-2 {
      display: none;
    }
    &:hover {
      cursor: pointer;
      .label-1 {
        display: none;
      }
      .label-2 {
        display: block;
      }
    }
    width: 400px;
    background-color: rgba(0,0,0,.25);
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 20px;
    border-left: 1px solid rgba(255,255,255,.1);
    input {
      width: 100%;
    }
  }

  strong {
    display: block;
  }
}

.main-footer {
  height: 50px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,.1);

  &, .list-inline a {
    color: $gray-4;
  }

  canvas {
    display: block;
  }

  canvas {
    margin: -3px 10px 0;
  }

  p, .list-inline {
    margin: 0;
    line-height: 1;
  }

  .list-inline {
    margin-left: 10px;

    > li {
      & + li:before {
        content: '·';
        margin-right: 10px;
      }
    }
  }
}

.main-panel {
  transition: margin-right $sidebar-animation-duration ease-in;
  .sidebar-collapsed & {
    margin-right: $sidebar-collapsed-width - $sidebar-width;
  }
}

.sidebar-panel {
  transform: translate3d(0, 0, 0);
  transition: transform $sidebar-animation-duration ease-in;
  .sidebar-toggle .fa-angle-right {
    transform: rotateZ(0deg);
    transition: transform $sidebar-animation-duration linear;
  }
  .media-body, .sidebar-header {
    opacity: 1;
    transition: opacity $sidebar-animation-duration linear;
  }
  .sidebar-collapsed & {
    transform: translate3d($sidebar-width - $sidebar-collapsed-width, 0, 0);
    .media-body {
      display: none;
    }
    .sidebar-toggle {
      width: 66px;
    }
    .sidebar-toggle .fa-angle-right {
      transform: rotateZ(180deg);
    }
  }
}

.footer {
  background-color: $shadow-3;
  display: flex;
  height: 55px;
  border-bottom: 1px solid rgba(255,255,255,.1);

  .refresh {
    display: flex;
    width: 54px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $glow-1;
    background-color: $shadow-1;
  }

  .radio-group {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}
