%full-width {
  width: 100%
}

%full-height {
  height: 100%
}

%fade {
  transition: opacity 200ms ease-in;
}

%full {
  @extend %full-width;
  @extend %full-height;
}

%scrollable {
  overflow: auto
}

%scrollable-x {
  overflow-x: auto;
  overflow-y: hidden;
}

%scrollable-y {
  overflow-x: hidden;
  overflow-y: auto;
}

%zero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
