@mixin full-width {
  width: 100%
}

@mixin full-height {
  height: 100%
}

@mixin fade {
  transition: opacity 200ms ease-in;
}

@mixin full {
  @include full-width;
  @include full-height;
}

@mixin scrollable {
  overflow: auto;
}

@mixin scrollable-x {
  overflow-x: auto;
  overflow-y: hidden;
}

@mixin scrollable-y {
  overflow-x: hidden;
  overflow-y: auto;
}

@mixin zero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
