@import '../../vendor/pui-v1.4.0/pui-variables';
@import '_mixins';
@import '_variables';

.main-content.setup {
  $setup-gutter: 70px;
  @extend %scrollable;
  padding: 0 $setup-gutter;
  position: relative;
  align-items: center;
  background-color: #162229;

  .control-label {
    color: $gray-7;
  }

  .has-error .control-label {
    color: $error-3;
  }

  aside, article {
    flex: 1;
    z-index: 1;
  }

  aside {
    margin-right: $setup-gutter / 2;
  }

  article {
    margin-left: $setup-gutter / 2;
  }

  .receptor-url {
    display: flex;
    input {
      flex: 1;
      margin-right: 15px;
    }
  }

  .bg-isometric, .bg-isometric:after, .isometric {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
  }

  .bg-isometric {
    &:after {
      content: '';
      display: block;
      background: radial-gradient(ellipse at bottom,  rgba(23,35,42,0) 0%,rgba(23,35,42,1) 85%),
                  linear-gradient(to bottom, rgba(23,35,42,1) 1%,rgba(23,35,42,1) 45%,rgba(23,35,42,0) 100%);;
    }
  }

  .isometric {
    background-color: transparent;
    background-image: linear-gradient(HSLA(210, 2%, 43%, 1) 1%, transparent 1%, transparent 99%, HSLA(210, 2%, 43%, 1) 99%),
                      linear-gradient(90deg, HSLA(210, 2%, 43%, 1) 1%, transparent 1%, transparent 99%, HSLA(210, 2%, 43%, 1) 99%);
    background-size: 100px 100px;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    transform: rotateX(45deg) rotateZ(45deg) skewX(-5deg) skewY(-5deg);
  }
}
