@import '../../vendor/pui-v1.4.0/pui-variables';
@import '_mixins';
@import '_variables';

.main-content.setup {
  @extend %scrollable;
  position: relative;
  align-items: center;
  background: url(/images/waffle.png) center / cover no-repeat, #162229;

  &, label {
    color: $gray-7;
  }

  $setup-gutter: 70px;
  padding: 0 $setup-gutter;
  > * {
    flex: 1;
    & + * {
      margin-left: $setup-gutter;
    }
  }

  aside, article {
    z-index: 1;
  }

  .form-group:nth-child(2) {
    display: flex;
    input {
      flex: 1;
      margin-right: 15px;
    }
  }
}