@import '../../vendor/pui-v1.4.0/pui-variables';
@import '_mixins';
@import '_variables';

.main-content.setup {
  @extend %scrollable;
  align-items: center;
  background-color: #162229;

  &, label {
    color: $gray-7;
  }

  $setup-gutter: 70px;
  padding: 0 $setup-gutter;
  > * {
    flex: 1;
    & + * {
      margin-left: $setup-gutter;
    }
  }

  article {
    .form-group:nth-child(2) {
      display: flex;
      input {
        flex: 1;
        margin-right: 15px;
      }
    }
  }
}