@require '_variables'
@require '_mixins'

.container-sidebar
  .selection &
    @extend $selected
  width: container-size
  height: container-size
  display: block

.sidebar-panel, .sidebar-body, .sidebar, .desired-lrp-list, .desired-lrp-detail
  @extend $full-height

.sidebar-header
  overflow: hidden
  .sidebar-toggle
    float: left
    color: $white
    width: container-size
  .filter-processes
    overflow: hidden

.desired-lrp-list, .desired-lrp-detail
  display(flex)
  flex-direction(column)
  .media, .media-body
    overflow: hidden
  .media-body, .media-left, .media-right
    display: block
  .media-body
    width: auto
  .media-left
    float: left

.desired-lrp-list
  .desired-lrps
    @extend $scrollable-y
    flex(1)
  .desired-lrp
    margin: 0
  .routes
    a
      &:hover
        text-decoration: underline
    table
      @extend $full-width
      table-layout: fixed
    td
      vertical-align: top
      &.port
        width: 45px

.desired-lrp-detail
  .container-sidebar
    opacity(1)
  .actual-lrps
    cursor: default
    @extend $scrollable-y
    flex(1)
    font-size: 18px
    table
      @extend $full
      table-layout: fixed
    .index, .since
      width: 15%
    .state
      text-transform: capitalize
    .faded
      opacity(0.2)