.app-container-sidebar {
  width: $app-container-size;
  height: $app-container-size;
  display: block;
}

.desired-lrp-list, .desired-lrp-detail {
  @include full-height;
}

@media(min-width: $screen-md-min) {
  .sidebar {
    @include zero;
    table {
      @include full-width;
      table-layout: fixed;
    }
  }

  .desired-lrps, .actual-lrps {
    @include scrollable-y;
    flex: 1;
  }
}

.sidebar-header {
  display: flex;

  .filter-processes {
    flex: 1;
  }

  .form-control {
    height: $app-container-size + $app-container-shadow-height;
  }

  .sidebar-toggle {
    color: $neutral-11;
    border: 1px solid $neutral-3;
    border-radius: 3px;
    width: $app-container-size;
    margin: 0 $desired-lrp-gutter 0 $desired-lrp-gutter - 7;
  }
}

.desired-lrp-list, .desired-lrp-detail {
  display: flex;
  flex-direction: column;

  .media, .media-body {
    overflow: hidden;
  }
  .media-body, .media-left, .media-right {
    display: block;
  }
  .media-body {
    width: auto;
    margin: $desired-lrp-gutter $desired-lrp-gutter $desired-lrp-gutter 0;
  }

  .error .media-left {
    margin-top: $desired-lrp-gutter - $error-gutter;
  }

  .media-left {
    float: left;
    padding: $desired-lrp-gutter - $error-gutter;
  }
}

.desired-lrp-list {
  .port {
    width: 45px;
  }
  .list-group-inverse {
    display: flex;
    flex-direction: column;

    > li {
      display: block;
      order: 2;
      &.error {
        order: 1;
      }
    }
  }

  .error {
    .metadata, .routes a {
      @extend .error;
    }
  }
}

.desired-lrp {
  @include fade;

  .selection & {
    opacity: 0.2;
  }
  &.hover {
    opacity: 1.0
  }

  .filtered & {
    background-color: transparent;
  }

  .routes a {
    display: block
  }

  .app-container-sidebar {
    outline: $error-gutter solid transparent;
    box-sizing: content-box;
    margin: $error-gutter;
    line-height: $app-container-size;
    text-align: center;
    color: $gray-11;
  }

  &.error .app-container-sidebar {
    outline-color: $red-3;
  }
}

.desired-lrp-info .metadata {
  color: $gray-4;
}

.desired-lrp-detail {
  .desired-lrp {
    opacity: 1;
  }

  .desired-lrp-info {
    font-size: 14px;
    line-height: 1.2
  }

  .actual-lrps {
    cursor: default;
    font-size: 16px;

    .table > tbody > tr > td {
      border-color: $gray-2;
    }

    .index, .since {
      width: 15%;
    }
    .state {
      text-transform: capitalize;
    }
    .faded {
      opacity: 0.35;
    }

    .table {
      &:hover .actual-lrp {
        opacity: 0.2;
      }

      .actual-lrp {
        @include fade;

        &.claimed {
          animation-name: almost-fade-in;
        }
        border: 2px solid $shadow-3;

        &.hover {
          border-color: $gray-11;
          outline: 2px solid $gray-11;
          opacity: 1;
        }
      }
    }
  }
}