@require '_variables'

.container-sidebar
  width: container-height
  height: container-height
  display: block

.sidebar
  > .panel-body
    padding: 0
  .media, .media-body
    overflow: hidden
  .media-body, .media-left, .media-right
    display: block
  .media-body
    width: auto
  .media-left
    float: left
  .desired-lrp
    margin: 0
  .routes
    a
      &:hover
        text-decoration: underline
    table
      @extend $full-width
      table-layout: fixed
    td
      vertical-align: top
      &.port
        width: 45px
