$gutter: 5px;
$app-container-size: 36px;
$sidebar-width: 400px;

$app-container-shadow-height: 4px;
$max-apps: 4000;

$sidebar-animation-duration: 120ms;
$sidebar-collapsed-width: $app-container-size + 7 * 2;

$footer-height: 35px;
