@require '_variables'

.zones
  header, .radio-group
    display(flex)
    flex-direction(row)
    align-items(center)
  .radio
    margin: 10px

.zone
  h2
    margin: gutter gutter 0
    padding: 0
