@require '_variables'

.zones
  &, label
    color: $white
  .radio-group
    display(flex)
    flex-direction(row)
    align-items(center)
  .radio
    margin: 10px

.zone
  header
    color: $white
  h2
    margin: gutter gutter 0
    padding: 0
