@import 'nib'
@require '_colors'
@require '_mixins'
@require '_animations'

@require '_cells'
@require '_containers'
@require '_zones'

html, body, #root, .xray
  min-height: 100%
  @extend $full-height

body
  background-color: $black

.receptor-url-modal
  input[type="text"]
    @extend $full-width

.page
  @extend $full
  display(flex)
  flex-direction(row)
  .main
    flex(1)
  .sidebar
    width: 300px

.panel-scrollable
  max-height: inherit //Talk to Pivotal UI about this

.container-sidebar
  width: 40px
  height: 40px
  display: block