@import 'nib'
@require '_colors'
@require '_mixins'

html, html body, #root, .xray, .cells
  @extend $full-height

.receptor-url-modal
  input[type="text"]
    @extend $full-width

.cells
  background-color: $black
  color: $white
  .cell
    background-color: $dark-gray
    margin: 5px
    padding: 5px
  ul
    margin: 0
